@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <meta name="author" content="Yinka Enoch Adedokun">
    <link rel="stylesheet" href="/css/Connexion.css" />
    <link rel="stylesheet" href="/css/homesireed.css" />
    <title>Login Page</title>

</head>
<body>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="main-content bg-success text-center">
            <div class="company__info">
                <span class="company__logo">
                    <h2><span class="fa fa-android"></span></h2>
                </span>
                <h4 class="company_title"><img src="/Images/logoSmallmar.png"/></h4>
            </div>
            <div class="login_form">
                <div class="logo-container">
                    <span class="logo-siredd">SIREDD</span>
                    <span class="separator">|</span>
                    <div class="description">
                        <span>SYSTEME D'INFORMATION REGIONAL DE</span><br>
                        <span>L'ENVIRONNEMENT ET DU DEVELOPPEMENT DURABLE</span><br>
                        <span class="location">ADMINISTRATION</span>
                    </div>
                </div>

                <form class="form-group">
                    <input type="text" name="username" id="username" class="form__input" placeholder="Username" required>
                    <input type="password" name="password" id="password" class="form__input" placeholder="Password" required>
                    <div class="form__input">
                        <input type="checkbox" name="remember_me" id="remember_me">
                        <label for="remember_me">Remember Me!</label>
                    </div>
                    <input type="submit" value="Se connecter" class="btn">
                </form>

                <p>Don't have an account? <a href="#">Register Here</a></p>
            </div>
        </div>
    </div>

</body>
</html>
