body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

.map1 svg {
    margin-left: 25%;
    WIDTH: 60%;
    margin-top: -250px;
}

.map1 path {
    fill: #05993e;
    stroke: #fff;
    stroke-width: 1px;
    transition: fill 0.5s;
}

    .map1 path:hover {
        fill: #f4524d;
    }


h2 {
    color: #05993e;
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
}

img {
    display: inline-block;
    margin: 0 auto 8px;
    max-width: 50%;
    height: auto;
}

.map1 {
    width: 100%;
    max-width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: auto;
}

/* Styles spécifiques pour mobile */
@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem;
    }

    .map1 {
        padding: 0 10px;
    }
}
    
/* Conteneur de la carte */
/* Conteneur de la carte */
/* Conteneur de la carte */


.navbar-toggler {
    background-color: #007bff; /* Couleur de fond */
    border: none; /* Suppression de la bordure */
    border-radius: 5px; /* Coins arrondis */
    color: white; /* Couleur du texte */
    padding: 10px 15px; /* Espacement intérieur */
    font-size: 16px; /* Taille de la police */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition pour les effets */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour effet 3D */
}

    .navbar-toggler:hover {
        background-color: #0056b3; /* Couleur de fond au survol */
        transform: scale(1.05); /* Agrandissement léger au survol */
    }

    .navbar-toggler:focus {
        outline: none; /* Suppression de l'outline */
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* Ombre autour du bouton au focus */
    }

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="3" d="M5 7h20M5 15h20M5 23h20"/%3E%3C/svg%3E'); /* Utilisation d'une image SVG pour l'icône */
    width: 30px; /* Largeur de l'icône */
    height: 30px; /* Hauteur de l'icône */
}
